 body{
    background-image: url('src/assets/hotel image2.jpg');
    background-size: cover;
    
 }
 
 .heading{
    height: 100px;
    width: 550px;
    position: relative;
    top: 20px;
     left: 350px ;
  background-color:transparent;
  
 
/* border: 1px solid black; */
box-shadow: 10px 10px 70px black;
 }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
      position:relative; top: 30px;
      right: 10px;
       
    left: 25px;
    font-family:  Geneva ;
   
}
.formBox{
    width: 350px;
    height: 420px;
    background-color:transparent;
     backdrop-filter:blur(2px);
  position: relative;
  left: 350px;
  top: 20px;
padding-left:100px;
padding-right: 100px;
padding-top: 20px;
padding-bottom: 30px;
 
/* border: 1px solid black; */
box-shadow: 10px 10px 70px black;
overflow:auto;
 
}

.input{
    width: 350px;
    margin-top:-10px;
    box-shadow: 5px 0px 20px rgb(0, 0, 0);
}
.submitbtn{
    width: 350px;
    box-shadow: 10px 0px 60px rgb(0, 0, 0);
    margin-top: -10px;
    
}