body {
  background-image: url('src/assets/hotel image2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set background height to fill the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
 
 .heading{
    height: 100px;
    width: 600px;
    position: relative;
    top: 20px;
     margin: auto;
  background-color:transparent;
  
 
/* border: 1px solid black; */
box-shadow: 10px 10px 70px black;
 }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
      position:relative; top: 30px;
      right: 10px;
       
    left: 25px;
    font-family:  Geneva ;
   
}
.formBox{
   max-width: 600px;
    max-height: 415px;
    background-color:transparent;
     backdrop-filter:blur(2px);
  position: relative;
  top: 20px;
  margin: auto;
padding-left:100px;
padding-right: 100px;
padding-top: 20px;
padding-bottom: 30px;
 
/* border: 1px solid black; */
box-shadow: 10px 10px 70px black;
overflow:auto;
 
}

.input{
    width: 400px;
    margin-top:-8px;
    box-shadow: 5px 0px 20px rgb(0, 0, 0);
}
.submitbtn{
    width: 400px;
    box-shadow: 10px 0px 60px rgb(0, 0, 0);
    margin-top: -10px;
    
}