 
 <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Hotel Booking</span>
        <span class="example-spacer"></span>
        <div>
          <ul>
            <li><a routerLink="/user/hotelList">hotel list</a></li>
            <li><a routerLink="/user/hotelBookingList">Booking list</a></li>
            <li><a routerLink=""></a></li>
          </ul>
        </div>
        
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!-- <mat-icon class="menuIcon">menu</mat-icon> -->
          <span class="menuIcon"> Log-Out</span>
        </button>
      </mat-toolbar-row>
  
      
    </mat-toolbar>
  </nav>
<!-- 
  <input type="file"  #fileInput name="fileInput">
  <button type="submit" (click)="upload(fileInput.value)">Upload</button>

    -->
     