
body{
    background-image: url('https://images.pexels.com/photos/2290753/pexels-photo-2290753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
}
.title h1{
    display: flex;
    justify-content: center;
    z-index: -1;
    color: wheat;
    font-weight: bolder;
    font-size: 30px;

 }
.mainDiv{
    position: relative;
    top: 20px;
    height:508px;
    overflow: auto;
  
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
    left: 368px;
    width: auto;
     
     
    
}
.example-card {
    display: flex;
      max-width: 500px;
      margin-bottom:10px;
      padding: 5px;
      border: 1px solid black;
     
    }
    .example-button{
        position: relative;
        bottom: -8px;
        left: 371px;
         display: flex;
         justify-content: center;
         align-items: center;
        
        
    }
    .example-button:hover{
      background-color: red;
    } 
    .deleteIcon{
      scale: 0.7;
      position: relative;
     
    }
.example-card p{
    margin-bottom: 5px;
    font-weight:500;
    font-size: 16px;
  }
   
 
 
/* dlete box */
.deleteBox{
    background-color: rgb(220, 220, 220);
    width: 250px;
     position:absolute;
      top:150px;
     left: 900px;
     padding: 10px;
     border: 2px solid black;
     box-shadow: 0px 10px 40px black;
}
.delBtn{
    display: flex;
    justify-content: space-around;
    gap: 140px;
  
}
.delBtn button:hover{
background-color: aqua;
border: 1px solid black;
}
.error{
    background-color: rgb(255, 0, 0);
    /* font-size: 30px; */
}

 
 