<body>
  <div class="formDiv">
    <div class="h1"><h1>Login</h1></div>
    <form [formGroup]="signUp" (ngSubmit)="submit()">
      <!-- <label>Full Name</label><br> -->
      <input
        class="allinput"
        type="text"
        placeholder="Enter Your Name"
        formControlName="name"
      /><br />
      <span *ngIf="signUp.get('name')?.invalid && signUp.get('name')?.touched"
        >User name is required</span
      ><br />
      <!-- <label>Mobile No</label><br> -->
      <input
        class="allinput"
        type="text"
        placeholder="Enter your Mobile No"
        formControlName="mobileNo"
      /><br />
      <span
        *ngIf="
          (signUp.get('mobileNo')?.invalid &&
            signUp.get('mobileNo')?.touched &&
            !signUp.get('mobileNo')?.hasError('maxlength')) ||
          signUp.get('mobileNo')?.hasError('minlength')
        "
        >Mobaile number is required</span
      >
      <span *ngIf="signUp.get('mobileNo')?.hasError('maxlength')"
        >Mobile number enter 10 digit </span
      ><br />
      <!-- <label>PAN NO</label><br> -->
      <input
        class="allinput"
        type="text"
        placeholder="Enter Your PAN No"
        formControlName="panNo"
      /><br /> <span *ngIf="signUp.get('panNo')?.hasError('pattern')">Enter a valid number</span><br />
      <!-- <label>Email Id</label><br> -->
      <input
        class="allinput"
        type="email"
        placeholder="Enter your Email Id"
        formControlName="email"
      /><br /><br />
      <label>Select Your City-</label>
      <select formControlName="city">
        <option selected value="Mumbai">Mumbai</option>
        <option value="Pune">Pune</option>
        <option value="Kolhapur">Kolhapur</option>
        <option value="Sangli">Sangli</option>
        <option value="Nashik">Nashik</option>
        <option value="Satara">Satara</option>
        <option value="Belgam">Belgam</option></select
      ><br /><br />

      <label>Gender</label><br />
      <label>Male</label>
      <input name="gender" type="radio" value="Male" formControlName="gender" /> <span>{{space}}</span> 
      <label>Female</label
      ><input
        name="gender"
        type="radio"
        value="Female"
        formControlName="gender"
      /><span>{{space}}</span> 
      <label>Other</label>
      <input
        name="gender"
        type="radio"
        value="other"
        formControlName="gender"
      /><br /><br />
      <!-- <label>Password</label><br> -->
      <input
        class="allinput"
        type="password"
        placeholder="Set Your Password"
        formControlName="password"
        (keyup)="passwordHideShow()"
      /><br /><br />
      <!-- <label> Confirm Password</label><br> -->
      <input
        class="allinput"
        type="password"
        placeholder="Confirm Your Password"
        formControlName="confirmPassword"
        (keyup)="passwordHideShow()"
      /><br />
      <span *ngIf="confirmPasswordError">Plese enter correct password</span><br />
      <!-- <label>Tnc</label><br> -->
      <input
        class="allinput"
        type="text"
        placeholder="Tnc"
        formControlName="Tnc"
      />

      <button mat-raised-button color="primary" [disabled]="signUp.invalid">
        Submit
      </button>
    </form>
  </div>
</body>
