body{
    background:linear-gradient(rgb(164, 209, 255),rgb(145, 145, 255));
}
.formDiv{
    height: 580px;
    width: 500px;
    background-color: white;
     margin: auto;
     position: relative;
      top: 25px;
     box-shadow: -8px 10px 20px rgb(93, 93, 93);
     border-radius: 5px;
     overflow:auto;
}
form{
    padding-left: 60px;
    
}

 
 .h1{
    position: relative;
    top: 10px;left: 160px;
    width: 140px;
    background-color: rgb(1, 196, 255); 
    border-radius: 10px;
 }
 .h1 h1{
    margin-left: 28px;
 }
  
 .input{
   width: 350px;
 }
 form i{
   position: relative;
   right: 10px;
 }
 .submitBtn{
    position: relative;
    top: 20px;left:80px;
    width: 200px;
    background-color: rgba(0, 0, 121, 0.842);
    border-radius: 20px;
 }  
 