   
<body>
    <div class="main-box">
        <form >
         <h2>Owner  Login</h2>
        <br><br>
        <input type="text"  placeholder=" Username" id="Username">
        <br><br><br>
        <input type="password"  placeholder="Password"  id="Password"> <br><br><br><br>
    <button class="submit">Submit</button>
    <br><br>
    <br>
    <a href="#" class="forget-password" > Forget Password ?</a>
    <a href="#" class="Singup"> Signup</a> 
    <button class="backBtn"(click)="backLanding()">Back</button>
</form>
 
     </div>
      
</body>

