 
<body>
    <div class="main-box">
        <form #adminSignIn="ngForm" (ngSubmit)="submit(adminSignIn.value)">
         <h2>Admin Login</h2>
        <br><br>
        <input type="text"  placeholder=" Username" name="userName" #user="ngModel" ngModel required><br>
        <span *ngIf='user.invalid&&user.touched'>plese enter username</span>
        <br><br>
        <input type="password"  placeholder="Password" name="password" #pass="ngModel" ngModel required><br>
         <span *ngIf="pass.invalid&&pass.touched">Enter your correct password</span><br><br><br>
    <button   class="submit" [disabled]="adminSignIn.invalid" >Submit</button>
    
    <br><br>
    <br>
   <span  class="forget-password" > Forget Password ?</span>
   <span class="Singup"> Signup</span>
    <button class="backBtn" (click)="backLanding()">Back</button>
</form>
 
     </div>
      
</body>
 
