<body>
    
<div class="tableBox" *ngIf="tableShow" >
   
   <h1>My Hotel List</h1>
   <table>
      <tr>
       <th>Name</th>
       <th>Mobile No</th>
       <th>HotelName</th>
       <th>State</th>
       <th>City</th>
       <th>Hotel Menu</th>
       <th>RoomAvailble</th>
       <th>Edit</th>
       <th>Delete</th>
      </tr>
      <tr *ngFor="let data of myHotelList">

         <td >{{data.ownerName | titlecase}} </td>
         <td >{{data.ownerMobNo | titlecase}} </td>
         <td >{{data.hotelName | titlecase}} </td>
         <td >{{data.state | titlecase}} </td>
         <td >{{data.city | titlecase}} </td>
         <td >{{data.hotelMenu | titlecase}} </td>
         <td >{{data.roomsAvailable | titlecase}} </td>
          <td ><mat-icon matTooltip="edit"
            matTooltipClass="example-tooltip-uppercase"
            aria-label="Button that shows a red tooltip"
            class="example-button" (click)="edit(data.id)">edit</mat-icon></td>
          
          
          <td><mat-icon  matTooltip="delete"
            matTooltipClass="example-tooltip-uppercase"
            aria-label="Button that shows a red tooltip"
            class="example-button" (click)="delet(data.id ,data.hotelName)">delete</mat-icon></td>
      </tr>
   </table>
    
</div>
<div class="deleteBox" *ngIf="deletBox">
<h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete <b>{{deletHotelName}} Hotel </b> ?
</div>
<br>
<div class="delBtn">
  <button (click)="cancle()">Cancle</button>
  <button (click)="confirmDelet()" >Yes</button>
</div>

</div> 
</body>