<body>
     
 <h1>HOTEL BOOKING LIST</h1>
 <table>
    <tr style="background-color: rgb(23, 238, 238);">
        <th>User Name</th>
        <th>Contact No.</th>
        <th>Hotel Name</th>
        <th>Hotel Contact</th>
        <th>  Booking date</th>
    </tr>
    <tr   *ngFor=" let list of bookingData">
        <td>{{list.userName |titlecase}}</td>
        <td>{{list.mobileNumber |titlecase}}</td>
        <td>{{list.hotelName |titlecase}}</td>
        <td>{{list.hotelContacNumber |titlecase}}</td>
        <td>{{list.date |titlecase}}</td>
    </tr>
 </table>

</body>