body{
   background-image: url('https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
   background-size: cover;
}
.btns{
   position: relative;
   top: 20px;
   display:grid;
   justify-content: center; 
   gap: 20px;
}