body{
    background-image: url('src/assets/landing image.jpg');
    background-size:cover;
} 

.allButtons{
    position: relative;
    top: 60px;
    left: 420px;
     display: flex;
     gap: 5px;
}
.allButtons button{
    height:60px;
    width: 150px;
    
}
  