body{
  
    background-image: url('https://images.pexels.com/photos/774856/pexels-photo-774856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size:cover;
} 

.allButtons{
    position: relative;
    top: 60px;
     display: flex;
     justify-content: center;
     gap: 5px;
}
.allButtons button{
    height:60px;
    width: 150px;
    
}
  