  
 <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span style="font-size: 30px; color: rgb(1, 238, 255);">Hotel Booking</span>
        <span class="example-spacer"></span>
        <div>
          <ul>
            <li><a routerLink="/user/userSuccess">Home</a></li>
            <li><a routerLink="/user/hotelList">hotel list</a></li>
            <li><a routerLink="/user/hotelBookingList">Booking list</a></li>
            <li class="logOut"> <a routerLink="/landing"> Log-Out</a></li>
            
          </ul>
        </div>
        
        
           
        
      </mat-toolbar-row>
  
      
    </mat-toolbar>
  </nav>
 
