body {
  background-image: url('https://images.pexels.com/photos/453201/pexels-photo-453201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 10px;
  left: 10px;
  padding: 10px;
}

.btn {
  display: flex;
  gap: 20px;
}

.search {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search input {
  position: relative;
  height: 30px;
  width: 200px;
  padding-left: 30px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px black;
  border: none;
}

.search span {
  position: absolute;
  top: 3px;
  left: 170px;
  font-size: 20px;
}

.mainDiv {
  position: relative;
  top: 40px;
  height: 445px;
  overflow: auto;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 40px;
  left: 125px;
  max-width: 1000px;
}

.deleteBox {
  background-color: rgb(220, 220, 220);
  width: 250px;
  position: absolute;
  top: 50px;
  left: 980px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 0px 10px 40px black;
  border-radius: 10px;
}

.delBtn {
  display: flex;
  justify-content: space-around;
}

.deleted {
  background-color: rgba(209, 143, 143, 0.82);
  width: 180px;
  font-size: 20px;
  padding: 15px;
  border-radius: 60px;
  box-shadow: 5px 10px 20px black;
  position: relative;
  left: 75%;
  top: 30px;
}

.example-card {
  max-width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
}

.example-card p {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}

.imageBox {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50px;
  left: 250px;
}

.imageBox img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 1000px black;
  border: 1px solid black;
}

.imageBox button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  background-color: transparent;
  border: none;
  outline: none;
}

.matIcon {
  position: relative;
  top: 5px;
}

@media (max-width: 768px) {
  .search input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .search span {
    left: calc(50% + 60px);
  }

  .table {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .deleteBox {
    left: calc(50% - 125px);
  }

  .deleted {
    left: calc(50% + 125px);
  }

  .imageBox {
    left: calc(50% - 375px);
  }
}
