<body>
<div class="header">
  <div class="btn">
    <button mat-raised-button color="primary" (click)="logOut()"><b> Log-Out</b></button>
  <button mat-raised-button (click)="showList()"><b> Hotel List</b> </button>
  <button mat-raised-button routerLink="/admin/bookingList"><b> Booking List</b> </button>
  
  </div>
  
  
  <!-- table create -->
  
   <div class="search" *ngIf="tableDataShowHide">
      <input type="text" [(ngModel)]="searchData"><span><mat-icon >search</mat-icon></span>
   </div>
</div>



 <div class="mainDiv"  *ngIf="tableDataShowHide">
<div class="table" *ngIf="tableShow">
  
  <mat-card class="example-card" *ngFor="let data of hotelList | searching:searchData">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> <mat-icon class="matIcon">account_circle</mat-icon> <b>Hotel {{data.hotelName|titlecase}}</b></mat-card-title>
        <mat-card-subtitle>{{data.hotelMenu|titlecase}}</mat-card-subtitle>
        <img mat-card-lg-image src={{data.imageName}} (click)="imageDisplay(data.imageName)" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p> <mat-icon class="matIcon">account_balance</mat-icon>Owner Name - {{data.ownerName|titlecase}}</p>
      <p> <mat-icon class="matIcon">call</mat-icon>  Contact to - {{data.hotelMobNo}}</p>
      <p> <mat-icon class="matIcon">book</mat-icon> Rooms Availble - {{data.roomsAvailable|titlecase}}</p>
      <button matTooltip="delete hotel data"
      matTooltipClass="example-tooltip-uppercase"
      aria-label="Button that shows a red tooltip"
      class="example-button"  (click)="delet(data.hotelName ,data.id)"> Delete
        <mat-icon class="deleteIcon">delete</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
</div>

<!-- delet box start -->
<div class="deleteBox" *ngIf="deletBox">
    <h1 mat-dialog-title>Delete file</h1>
    <div mat-dialog-content>
      Would you like to delete <b>{{deletHotelName}} Hotel </b> ?
    </div>
    <br>
    <div class="delBtn">
      <button (click)="cancle()">Cancle</button>
      <button (click)="confirmDelet()" >Yes</button>
    </div>
    
    </div> 

    <!-- deleted success massage -->
    <div class="deleted" *ngIf="deletSuccsess" >
        <b>Deleted</b>
    </div>
  

    <!-- imgae displayer -->
    <div class="imageBox"*ngIf="imageDisplayer" >
      
      <img *ngIf="imageDisplayer"  src="{{imagePath}}" alt=""><button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="closeImage()">
        <mat-icon  >close</mat-icon>
      </button>
    </div>
      
    </body>